<header class="header-bar">
  <div class="header-brand">
    <div class="header-logo" aria-hidden="true"></div>
    <div>
      <div class="app-name">Mirabellum</div>
    </div>
  </div>

  <nav class="header-nav">
    <a class="nav-link" routerLink="/" routerLinkActive="nav-link--active" [routerLinkActiveOptions]="{exact: true}">
      Accueil
    </a>

    <a class="nav-link" routerLink="/events" routerLinkActive="nav-link--active">
      Nos événements
    </a>

    <a class="nav-link" routerLink="/contacts" routerLinkActive="nav-link--active">
      Contacts
    </a>
  </nav>

</header>
