<header class="header-bar">
  <a class="header-brand" routerLink="/">
    <div class="header-logo" aria-hidden="true">
      <img src="logo.png" alt="Mirabellum logo" class="header-logo-img" />
    </div>
    <div>
      <div class="app-name">Mirabellum</div>
    </div>
  </a>

  <nav class="header-nav">
    <a class="nav-link" routerLink="/" routerLinkActive="nav-link--active" [routerLinkActiveOptions]="{exact: true}">
      Accueil
    </a>

    <a class="nav-link" routerLink="/events" routerLinkActive="nav-link--active">
      Nos événements
    </a>

    <a class="nav-link" routerLink="/contacts" routerLinkActive="nav-link--active">
      Contacts
    </a>
  </nav>

</header>
