<div class="fixed top-0 left-1/4 w-1/2 h-screen -z-10">
  <img src="logo.png" alt="" class="w-full h-full object-cover" />
</div>

<div class="home-container">
  <h1 class="title font-semibold text-white ">Mirabellum</h1>

  <div class="animate-slide-in-left w-3/4 mt-8 px-4">
    <h2 class="text-3xl font-bold text-white mb-4">Qui sommes nous ?</h2>
    <p class="text-lg text-white leading-relaxed">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore
      magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
      consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
    </p>
  </div>
</div>
